# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea
*.png
*.jpg

.DS_Store
.idea/
*.pt
*.pth
*.npy
*.pkl
*.html
*.pdf

train_flip_noise.py
random_matrices.npy

weights_c1c2/*
weights*
datasets/*
data/*
